#homeassistant:
  # Name of the location where Home Assistant is running
  #name: Home
  # Location required to calculate the time the sun rises and sets
  #latitude: 
  #longitude: 
  #latitude: !secret home_lattitude
  #longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  #elevation: 260
  # metric for Metric, imperial for Imperial
  #unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  #time_zone: America/Detroit
  #customize: !include customize.yaml

system_health:
# Enables the frontend
frontend: 
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
automation old: !include automations_manual.yaml

scene: !include scenes.yaml

script: !include scripts.yaml

python_script:

# Enables configuration UI
config:

homekit:
  auto_start: True
  filter:
    include_entities:
      #- light.bedroom
      - light.bedroom_1
      - light.bedroom_2
      - light.dinette_1
      - light.dinette_2
      - light.lighty
      - light.lampy
      - light.light_strippy
      - switch.bedroom_fan
      - switch.nightstand
      - climate.living_room
      - switch.kitchen_chilies
      - input_boolean.stereo_mute
      - input_boolean.stereo_unmute
      - switch.circadian_lighting_circadian_lighting
      - input_boolean.turn_stereo_down_vol_bool
      - input_boolean.turn_up_stereo_vol_bool
      - light.hallway_1
      - light.hallway_2
      - light.hallway_3
      - light.dinette
      - light.office_1
      - light.office_2
      - light.living_room_1
      - light.hue_play_1
      - light.hue_play_2

http:

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  include_used_components: true

# Discover some devices automatically
discovery:
ssdp:
zeroconf:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

mobile_app:
  
breaking_changes:

camera:
  - platform: nwsradar
    station: DTX
  - platform: nwsradar
    station: GRR

circadian_lighting:
  #sunset_offset: '01:00'
  #sunrise_offset: '2:00'
  sunset_time: '11:00:00'
  min_colortemp: 2200
  #max_colortemp: 5200
  interval: 300
  transition: 300

# Cloud
cloud:

recorder:
  purge_keep_days: 30
  db_url: !secret mariadb_url
  include:
    entities:
      - device_tracker.maxwells_iphone
  exclude:
    domains:
      - circadian_lighting
      - mobile_app
    entities:
      - sensor.circadian_lighting
    event_types:
      - service_removed
      - service_executed
      - platform_discovered
      - homeassistant_start
      - homeassistant_stop      
      - feedreader
      - service_registered
      - call_service
      - component_loaded
      - logbook_entry
      - system_log_event
      - timer_out_of_sync

logger:
  default: warning
  logs:
    custom_components.circadian_lighting: warning
    #custom_components.circadian_lighting.sensor: debug
    homeassistant.components.shell_command: debug
    
auto_backup:
  auto_purge: true

lifx:
  light:
    - server: 192.168.30.10
      broadcast: 192.168.30.71
    - server: 192.168.30.10
      broadcast: 192.168.30.72
    - server: 192.168.30.10
      broadcast: 192.168.30.73

remote:
  - platform: harmony
    name: Harmony Hub
    host: 192.168.30.14
    activity: TV
    
input_boolean:
  #start_car_bool:
    #name: Start My Car
    #initial: off
  morning_routine:
    name: Workday Morning Routine
  turn_up_stereo_vol_bool:
    name: Stereo up
    initial: off
  turn_stereo_way_up_vol_bool:
    name: Stereo way up
    initial: off
  turn_stereo_down_vol_bool:
    name: Stereo Down
    initial: off
  stereo_mute:
    name: Mute Stereo
  stereo_unmute:
    name: Unmute Stereo
  stereo_semaphore:
    name: _Stereo Semaphore
    initial: off
  backup_now:
    name: Backup Hassio Now
    initial: off

tplink:
  discovery: false
  switch:
   - host: 192.168.30.51
   - host: 192.168.30.52
   - host: 192.168.30.53

switch:

  - platform: circadian_lighting
#    lights_rgb:
    lights_ct:
      - light.bedroom_1
      - light.bedroom_2
      - light.dinette_1
      - light.dinette_2
      - light.brighty
      - light.hallway_1
#    lights_ct:
      - light.lampy
      - light.lighty
      - light.light_strippy
      - light.hallway_2
      - light.hallway_3
      - light.dinette
      #- light.office_1
      #- light.office_2
      - light.living_room_1
      - light.hue_play_1
      - light.hue_play_2
    min_brightness: 20

speedtestdotnet:
  scan_interval:
    minutes: 30
    hours: 10

#zone:
#  - name: Work
#    latitude: !secret work_lattitude
#    longitude: !secret work_longitude
#    radius: 250
#    icon: mdi:worker
    
weather:
  - platform: darksky
    api_key: !secret darksky_key

group:
  Lights:
    entities:
      - light.lampy
      - light.lighty
      - light.light_strippy
      - light.brighty
      - light.living_room_1

  Indoor Climate:
    entities:
      - sensor.living_room_humidity
      - history_graph.climate_graph

  System Monitor:
    entities:
      - sensor.processor_use
      - sensor.memory_free
      - sensor.memory_use
      - sensor.memory_use_percent
      - sensor.disk_free
      - sensor.disk_use
      - sensor.disk_use_percent
      - sensor.ipv4_address_enp4s0
      - sensor.ipv6_address_enp4s0
      - sensor.ipv4_address_wg0
      - sensor.ipv6_address_wg0
      - sensor.last_boot
      - binary_sensor.workday_sensor

  Internet Connection:
    entities:
      - sensor.speedtest_ping 
      - sensor.speedtest_upload
      - sensor.speedtest_download
      - sensor.external_ip
      - sensor.xfinity_usage

binary_sensor:
  - platform: workday
    country: US
    province: MI

sensor:
  - platform: xfinity
    username: !secret xfinity_email
    password: !secret xfinity_password

  - platform: darksky
    api_key: !secret darksky_key
    forecast:
      - 0
    monitored_conditions:
      - summary
      - icon
      - temperature
  
  - platform: systemmonitor
    resources:
      - type: disk_free
        arg: /
      - type: disk_use
        arg: /
      - type: disk_use_percent
        arg: /
      - type: memory_free
      - type: memory_use
      - type: memory_use_percent
      - type: processor_use
      - type: load_1m
      - type: load_5m
      - type: ipv4_address
        arg: enp4s0
      - type: ipv6_address
        arg: enp4s0
      - type: ipv4_address
        arg: wg0
      - type: ipv6_address
        arg: wg0
      - type: last_boot
      
  - platform: rest
    resource: http://icanhazip.com
    name: external_ip
    value_template: '{{ value }}'
    scan_interval: 86400
    
  - platform: uptime

  - platform: command_line
    name: CPU Temperature
    command: "cat /sys/class/thermal/thermal_zone0/temp"
    # If errors occur, remove degree symbol below
    unit_of_measurement: "C"
    value_template: '{{ value | multiply(0.001) | round(1) }}'
    scan_interval: 60
    
shell_command:
  git_pull: id > banana.txt; git config core.sshCommand 'ssh -i ./.ssh/id_ed25519'; git pull
